!!! 5
html
head
    title Cactus
    style
      body {
      padding: 0;
      background-color: #1e1e1e;
      width: 100%;
      margin: 0;
      }
    script(src='lib/require.js' data-main='main')